apprise:
  - discord://webhook_id/webhook_token
  - join://apikey/device
  - slack://TokenA/TokenB/TokenC/
  
reddit:
  client: xxxxxxxxxx
  secret: xxxxxxxxxxxxxxxxxxxx_xxxxxxxxxx
  agent: reddit-post-notifier (u/xxxxxx)
    
  subreddits:
  - AskReddit:
      title:
        - "who"
      not_title:
        - "you"
        - "ever"

  - Market76:
      title:
        - "W:"
        - "Want"
      flair:
        - "XB trade"

  - AutoNewspaper
      not_title:
        - "[Sports]"
        - "[Business]"

  - coaxedintoasnafu
      not_title:
        - "poorly"
      flair:
        - "TROPE"
        - "TREND"
